:root {
    box-sizing: border-box;

    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --main-background-color: #eee;
    --pestaña-ul-background-color: #bbb;
    --pestaña-li-background-color: #fff;
}

body {
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--main-background-color);
    padding: 0 2vw;
}

ul {
    padding: 0;
}


#pestañas {
    background-color: antiquewhite;

    /* overflow: hidden; */
}

#pestañas ul {
    display: flex;
    justify-content: space-between;
    border-radius: 1.25rem;
    overflow: hidden;
    padding: 4px;
    height: 2.5rem;
    width: 100%;

    background-color: var(--pestaña-ul-background-color);
}

#pestañas li {
    list-style: none;
    background-color: var(--pestaña-li-background-color);
    font-size: 1rem;
    font-weight: bolder;
    height: 100%;
    width: 100%;
    margin: 0 1rem;
    align-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: 1.2rem;
}


#menu ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;

    
}

#menu li {
    list-style: none;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: repeat(3, auto);
    gap: 5px;
}

#menu h3 {
    margin: 0;
    background-color: blueviolet;
    height: min-content;
}

.contenedorImg {
    background-color: blue;
    display: inline-block;
    width: 100%;
    height: 100%;
    grid-row: span 2;
    border-radius: 20px;
    overflow: hidden;
}

.contenedorImg img {
    height: 100px;
    width: 150px;
}

.precio {
    align-content: center;
}

.precio::before {
    content: "$";
}

.contenedorCantidad {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedorCantidad button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: yellow;
    cursor: pointer;
}