:root {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-size: 16px;
}

ul {
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr min-content;  
    column-gap: 16px;
    padding: 0;
    margin: 0; 
    height: 100vh;
}

main{
    grid-column: 1;
    grid-row: 2;
}

#pestañas {
    background-color: antiquewhite;
}

#pestañas ul {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}

#pestañas li {
    list-style: none;
    background-color: aquamarine;
    font-size: 1.5rem;
    width: 25%;
    text-align: center;
    cursor: pointer;
}

#menu{
    overflow-y: scroll ;
}

#menu ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;


}

#menu li {
    list-style: none;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: repeat(3, auto);
    gap: 5px;
}

#menu h3 {
    margin: 0;
    background-color: blueviolet;
    height: min-content;
}

.contenedorImg {
    background-color: blue;
    display: inline-block;
    width: 100%;
    height: 100%;
    grid-row: span 2;
}

.contenedorImg img {
    height: 100px;
    width: 150px;
}

.precio {
    align-content: center;
}

.precio::before {
    content: "$";
}

.contenedorCantidad {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedorCantidad button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: yellow;
    cursor: pointer;
}

/*Estilos del carrito de compras*/
#carritoCompras{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 15px;
    font-family: sans-serif;
    padding: 1rem;
    
}

#contenedorPrecios{
    background-color: #f2f6f9;
    border-radius: 15px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: auto;
}

.subtituloCarrito{
    color: #b9babd;
}

.costo{
    color: #b9babd;
}

.SubmitBtn{
    border:none;
    border-radius: 15px;
    padding: 1 rem;
    background-color: #2260ff;
    color: #c8e9ff;
    text-decoration: none;
    font-size: 1rem;
    margin-top: auto;
}